.background{
    width: 100%;
    height: 100%;
    background: red;
    display: block;
    background: linear-gradient(180deg, #FFEFBA, #FFFFFF);
    background-size: 400% 400%;
    animation: gradientA 10s ease infinite;
}

@keyframes gradientA{
    0%{
        background-position: 47% 0;
    }
    50%{
        background-position: 54% 100%;
    }
    100%{
        background-position: 47% 0;
    }
}