<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Enter</title>
	<link rel="stylesheet" type="text/css" href="../layouts/style.css">
	<link rel="stylesheet" type="text/css" href="../layouts/enter.css">
</head>
<body>
<section>
	<div class="header">
		<div class="inner-header">
			<img id="camagru_logo" src="../layouts/style-images/camagru.png">
		</div>
	</div>
</section>
<section class="main">
	<div class="enter-form">
		<form method="POST">
			<fieldset>
				<legend><span class="number">1</span> Enter To Camagru</legend>
				<input type="text" name="field1" placeholder="Your Login *">
				<input type="password" name="field2" placeholder="Your Password *"><input type="button" id ='button1' value="Forgot Pass">
			</fieldset>
			<input type="submit" value="Apply" id="button" />
		</form>
	</div>
</section>
<section class="side">

</section>
<footer>
	<div class="footer">
		<ul>
			<li><a href="https://github.com/ggavryly" target="blank"><img id="github_logo" src="../layouts/style-images/github-512.png"></a></li>
			<li><a href="https://www.instagram.com/gena_torgo_/?hl=uk" target="blank"><img id="instagram_logo" src="../layouts/style-images/instagram-512.png"></a></li>
			<li><a href="https://profile.intra.42.fr/users/ggavryly" target="blank"><img id="intra_logo" src="../layouts/style-images/logo_42.png"></a></li>
		</ul>
	</div>
</footer>
</body>
</html>