<!DOCTYPE html>
<html>
<head>
	<title>Forgot-Pass</title>
	<link rel="stylesheet" type="text/css" href="../layouts/style.css">
	<
</head>
<body>
<section>
	<div class="header">
		<div class="inner-header">
			<img id="camagru_logo" src="../layouts/style-images/camagru.png">
		</div>
	</div>
</section>
<form method="GET" action="">
	<input type="submit" value="LOG-OUT">
</form>
<footer>
	<div class="footer">
		<ul>
			<li><a href="https://github.com/ggavryly" target="blank"><img id="github_logo" src="../layouts/style-images/github-512.png"></a></li>
			<li><a href="https://www.instagram.com/gena_torgo_/?hl=uk" target="blank"><img id="instagram_logo" src="../layouts/style-images/instagram-512.png"></a></li>
			<li><a href="https://profile.intra.42.fr/users/ggavryly" target="blank"><img id="intra_logo" src="../layouts/style-images/logo_42.png"></a></li>
		</ul>
	</div>
</footer>
</body>
</html>