/*----------enter_form----------*/
.enter-form ,
.register-form ,
.reset-form {
    max-width: 500px;
    background: #f4f7f8;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.4em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding-top: 5px;
}

fieldset{
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}
section[class="main"] {
    margin-top: 210px;
}
input {
    color: black;
}
input[type="text"],
select {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 97%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    margin-bottom: 30px;
}

input[id="Center_field_pass"]
{
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 75%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}

.number {
    background: #FFEFBA;
    color: black;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    margin-bottom: 15px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0;
}

.number[id="Left_back"],
.number[id="Right_back"]{
    border-radius: 15px;
    cursor: pointer;
}

.number[id="Left_back"]{
    margin-left: 30px;
}

.number[id="Right_back"]{
    margin-left: 50px;
}

input[id="Center_sign-in"],
input[id="Center_sign-up"],
input[id="Right_sign-up"],
input[id="Left_reset"]
{
    position: relative;
    display: inline-block;
    padding: 19px 39px 18px 39px;
    background: #FFEFBA;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 45%;
    border-width: 1px 1px 1px 1px;
    margin-bottom: 10px;
    border-radius: 4px;
}
input[id="Center_forgot"]
{
    position: static;
    display: inline-block;
    background: #FFEFBA;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    width: 20%;
    height: 37px;
    margin-left: 8px;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
}

input[id="Right_sign-up"],
input[id="Left_reset"]{
    width: 97%;
}

input[id="Center_sign-in"] {
    margin-right: 28px;
}

input[type="submit button"]:hover,
input[type="button"]:hover
{
    background: #FFEFAA;
}

input [id="Reset-button"] {
    width: 97%;
}

#button{
    margin-right: 34px;
}
#Center_title, #Left_title{
    padding-left: 50px;
}

#Right_title {
    padding-left: 75px;
}

#Center_field_login {
    margin-top: 10px;
}

input[id="Left_field_email"],
input[id="Right_field_pass"],
input[id="Right_field_email"]{
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 97%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

* {
    box-sizing: border-box;
}

.block-modal {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.form-slider {
    width: 1200px;
    height: 500px;
    transition: all ease 1s;
    margin-left: -400px;
}

.left-33 {
    width: 33%;
    height: 50px;
    float: left;
    padding: 6px;
}

.center-33 {
    width: 33%;
    height: 50px;
    float: left;
    padding: 6px;
    margin-left: 2px;
}

.right-33 {
    width: 33%;
    height: 50px;
    float: left;
    padding: 6px;
}

.hide{
    display: none;
}